<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backendplantshop.mapper.EmailOtpMapper">
    <resultMap id="EmailOtpResultMap" type="EmailOtp">
        <id column="otp_id" property="otp_id"/>
        <result column="email" property="email"/>
        <result column="user_id" property="user_id"/>
        <result column="otp_code" property="otp_code"/>
        <result column="created_at" property="created_at"/>
        <result column="expires_at" property="expires_at"/>
        <result column="is_deleted" property="is_deleted"/>
    </resultMap>


<!--    tại vì khi đăng ký tk mới gửi otp xác nhận thì lúc này chưa có user_id nên sẽ bị set là null khi tạo otp => lỗi runtime và jdbcType=INTEGER sẽ giải quyết điều đó-->
    <insert id="insertOtp" parameterType="EmailOtp" useGeneratedKeys="true" keyProperty="otp_id">
        INSERT INTO user_otp (email,
                              user_id,
                              otp_code,
                              created_at,
                              expires_at,
                              is_deleted)
        VALUES (#{email},
                #{user_id, jdbcType=INTEGER},
                #{otp_code},
                #{created_at},
                #{expires_at},
                #{is_deleted})
    </insert>


<!--    xác thực otp-->
    <select id="findByEmailAndOtp" resultMap="EmailOtpResultMap">
        SELECT *
        FROM user_otp
        WHERE email = #{email}
        AND otp_code = #{otpCode}
        AND is_deleted = 0
        AND expires_at &gt; CURRENT_TIMESTAMP
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <!--    tìm otp mới nhất của mail để kiểm tra otp xác nhận cho đk hoặc quên mk-->
<!--    <select id="findByEmailAndOtpForMark" resultMap="EmailOtpResultMap">-->
<!--        SELECT *-->
<!--        FROM user_otp-->
<!--        WHERE email = #{email}-->
<!--          AND otp_code = #{otpCode}-->
<!--          AND is_deleted = 0-->
<!--          AND expires_at &gt; CURRENT_TIMESTAMP-->
<!--        ORDER BY created_at DESC-->
<!--            LIMIT 1-->
<!--    </select>-->
<!--    <select id="findLatestByEmail" resultMap="EmailOtpResultMap">-->
<!--        SELECT *-->
<!--        FROM user_otp-->
<!--        WHERE email = #{email}-->
<!--        AND is_deleted = 0-->
<!--        ORDER BY created_at DESC-->
<!--        LIMIT 1-->
<!--    </select>-->

<!--    đánh dấu đã sử dụng-->
    <update id="markAsUsed" parameterType="int">
        UPDATE user_otp
        SET is_deleted = 1
        WHERE otp_id = #{otpId}
    </update>

<!--    <delete id="deleteExpiredOtps">-->
<!--        DELETE FROM user_otp-->
<!--        WHERE expires_at &lt; CURRENT_TIMESTAMP-->
<!--        OR (is_deleted = 1 AND created_at &lt; DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 1 DAY))-->
<!--    </delete>-->


<!--    sau khi đk thành công thì cập nhật lại user_id cho otp đó-->
    <update id="updateUserIdByEmailAndOtp">
        UPDATE user_otp
        SET user_id = #{userId}
        WHERE email = #{email}
        AND otp_code = #{otpCode}
        AND is_deleted = 1
    </update>



</mapper>

